.reusltado{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.labelResultado{
    display: flex;
    
    font-family: "PoppinsExtraBoldItalic";
    font-weight: bold;
    font-size: 68px;
    justify-content: flex-start;
    margin: 10px 0;
}

.valorResultado{
    color: hsl(259, 100%, 65%);
    margin-right: 10px;
}

@media (max-width: 768px) {
    .labelResultado{
        margin: 5px 0;
        font-size: 50px;
        justify-content: center;
    }

    .reusltado{
        padding: 0 10px;
    }
}