.reusltado{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.labelResultado{
    display: flex;
    margin: 5px 2px;
    font-family: "PoppinsExtraBoldItalic";
    font-weight: bold;
    font-size: 68px;
    justify-content: flex-start;
    margin: 10px 0;
}

.valorResultado{
    color: hsl(259, 100%, 65%);
    margin-right: 10px;
}