.campo{
    display: flex;
    flex-direction: column;
}

.campo label{
    font-family: "PoppinsRegular";
    letter-spacing: 2px;
}

.campo input{
    border-radius: 5px;
    width: 120px;
    font-family: "PoppinsBold";
    border-width: 1px; 
    border-color: rgba(0, 0, 0, 0.15);
    font-size: 36px;
    font-weight: bold;
    padding: 10px 15px;
}

.campo input:hover{
    border-width: 1px;
    border-color: hsl(259, 100%, 65%);
}

.campo input:focus{
    border-width: 1px;
    border-color: hsl(259, 100%, 65%);
}