.campo{
    display: flex;
    flex-direction: column;

}

.campo label{
    font-family: "PoppinsRegular";
    letter-spacing: 2px;
}

.campo input{
    border-radius: 5px;
    width: 90%;
    font-family: "PoppinsBold";
    border-width: 1px; 
    border-color: rgba(0, 0, 0, 0.15);
    font-size: 36px;
    font-weight: bold;
    padding: 10px 15px;
}

.campo input:hover{
    border-width: 1px;
    border-color: hsl(259, 100%, 65%);
}

.campo input:focus{
    border-width: 1px;
    border-color: hsl(259, 100%, 65%);
}

@media (max-width: 768px) {

    .campo input{
        height: 50px;
        font-size: 20px;
        padding: 5px 7px;
    }
    
    .campo label{
        font-family: "PoppinsRegular";
        font-size: 12px;
        letter-spacing: normal;
    }
}