.formulario{
    display: flex;
    flex-direction: column;
}

.formulario > *{
    margin: 10px 0;
}

.campos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.campos > *{
    margin: 0px 20px;
}

.divBotao{
    display: flex;
    justify-content: flex-end;
}

.formulario button{
    cursor: pointer;
    border: none;
    width: 80px;
    height: 80px;
    background-color: #000;
    border-radius: 50%;
}

.formulario button:hover{
    background-color: hsl(259, 100%, 65%);;
}

.error{
    color: red;
    font-family: "PoppinsRegular";
    font-style: italic;
    margin-top: 5px;
    font-size: 13px
}

@media (max-width: 768px) {
    .divBotao{
        display: flex;
        justify-content: center;
    }
}